* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #111;
    font-family: "Raleway", sans-serif;
}

.calendar {
    width: 60vmax;
    height: 35vmax;
    background-color: #333;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
}
.section-1 {
    width: 70%;
}
.section-2 {
    width: 33%;
    background-color: #20969d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vmax;
}
.calendar-days {
    width: 100%;
    padding: 2vmax;

    tr {
        display: flex;
        justify-content: space-evenly;
        th {
            color: #20969d;
        }
        .day-in-month-calendar {
            font-weight: 700;
            color: #ffffff;
        }
        .current-day {
            background-color: #20969d;
            border-radius: 50%;
        }
        th,
        .day-in-month-calendar {
            width: 5vmax;
            height: 5vmax;
            text-align: center;
            font-size: 3vmax;
        }
    }
}
.col {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#day-in-week,
#month-and-year {
    text-transform: uppercase;
    color: #ffffff;
}
#day-in-week {
    font-size: 3vmax;
}
#day-in-month {
    font-size: 6vmax;
    font-weight: 700;
    color: #ffffff;
}
#month-and-year {
    font-size: 2vmax;
    font-weight: 200;
    margin-top: 2vmax;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#change-theme {
    width: 2.5vmax;
    height: 2.5vmax;
}
#add-event {
    width: 3.5vmax;
    height: 3.5vmax;
}
